name: Ruby

on:
  push:
    branches:
      - master

  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Rails ${{ matrix.rails }} - DB ${{ matrix.db }}
    continue-on-error: true
    strategy:
      matrix:
        ruby:
          - '3.3'
        rails:
          - '7.0'
          - '7.1'
          - '7.2'
          - '8.0'
        db:
          - sqlite3
          - postgresql
          - mysql2

    env:
      LOG_LEVEL: debug
      MT_CPU: 1
      TEST_DATABASE_ADAPTER: ${{ matrix.db }}
      TEST_DATABASE_HOST: 127.0.0.1
      TEST_DATABASE_USERNAME: root
      TEST_DATABASE_PASSWORD: password
      BUNDLE_GEMFILE: gemfiles/rails_${{ matrix.gemfile }}
      RAILS_ENV: test

    services:
      postgres:
        image: postgres:latest
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: root
          POSTGRES_PASSWORD: password
      mysql:
        image: mysql:latest
        ports:
          - 3306:3306
        env:
          MYSQL_ROOT_PASSWORD: password

    steps:
    - uses: actions/checkout@v4

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true

    - name: Run tests
      run: bundle exec rake
